.wrapper footer {
    border-top: 1px solid #232323;
    margin-top: 150px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
.wrapper footer img{
    height: 80px;
    width: 115px;
}

.wrapper footer .socials {
    display: flex;
    gap: 40px;
}

.wrapper footer .socials img {
    width: 30px;
    height: 30px;
}

.wrapper footer a {
    text-decoration: none;
    color: #A52424;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 30.8px;
    letter-spacing: 1.1px;
}