body {
    margin: 0;
}

.wrapper {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.wrapper .container {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 150px;
}

@media(max-width:1150px) {
    .wrapper .container {
        width: 100vw;
        padding: 10px;
        box-sizing: border-box;
        row-gap: 50px;
    }

}


@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/static/Montserrat-Regular.ttf");
}
