@media (max-width: 1150px) {
    .wrapper .container section.portfolio {
        justify-content: center;
        row-gap: 20px;
    }

    .wrapper .container section.portfolio .card img {
        max-width: 375px;
        max-height: 565px;
        width: 100%;
        height: auto;
    }

    .wrapper .container section.portfolio .card {
        max-width: 370px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .wrapper .container section.portfolio h2 {
        font-size: 40px;
    }
}